
<div class="container">
  <p id="notice"><%= notice %></p>

  <p>
    <strong>Job title:</strong>
    <%= @job.job_title %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= @job.email %>
  </p>

  <p>
    <strong>Job type:</strong>
    <%= @job.job_type %>
  </p>

  <p>
    <strong>Venue:</strong>
    <%= @job.venue %>
  </p>

  <p>
    <strong>City:</strong>
    <%= @job.city %>
  </p>

  <p>
    <strong>State:</strong>
    <%= @job.state %>
  </p>

  <p>
    <strong>Country:</strong>
    <%= @job.country %>
  </p>

  <p>
    <strong>Zipcode:</strong>
    <%= @job.zipcode %>
  </p>

  <p>
    <strong>Job description:</strong>
    <%= @job.job_description %>
  </p>

  <p>
    <strong>Salary range:</strong>
    <%= @job.salary_range %>
  </p>

  <p>
    <strong>Employeer:</strong>
    <%= @job.employeer_id %>
  </p>

  <p>
    <strong>Company:</strong>
    <%= @job.company_id %>
  </p>

  <p>
    <strong>Latitude:</strong>
    <%= @job.latitude %>
  </p>

  <p>
    <strong>Longitude:</strong>
    <%= @job.longitude %>
  </p>
</div>


<%= link_to 'Edit', edit_job_path(@job) %> |
<%= link_to 'Back', jobs_path %>
